# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Secrets
.env

# Records
records/

# VSCode
.vscode/

# Temp files
*.tmp.m3u8
*_hls_temp.*
# pku-downloader
downloads/
*.analysis.json
*.sqlite
*.sqlite.bak
